html {
    scroll-behavior: smooth;
}
body {
    font-family: "Bricolage Grotesque", sans-serif;
    cursor: pointer;
    background-image: url('/images/bg-grid.svg');
    background-repeat: repeat;
    background-size: 360px 360px;
}
h1 {
    font-weight: bold;
    font-size: 60px;
}
p {
    font-size: 24px;
}
/* Hide scrollbar for all browsers */
#projectSlider {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
#projectSlider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

