html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,a,div {
    font-family: "Bricolage Grotesque", sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 60px;
}
p {
    font-size: 24px;
}
.hero_skill .hero_skillset span {
    cursor: pointer;
}
/* 2463EB */