h1,h2,h3,h4,h5,h6,p,a,div {
    font-family: "Bricolage Grotesque", sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 60px;
}
p {
    font-size: 24px;
}
.hero_section .hero_skill .hero_skillset span {
    cursor: pointer;
}
svg#freepik_stories-prototyping-process:not(.animated) .animable {
    opacity: 0;
}
svg#freepik_stories-prototyping-process.animated #freepik--background-simple--inject-2 {
    animation: 1.5s Infinite  linear floating;
    animation-delay: 0s;
}
svg#freepik_stories-prototyping-process.animated #freepik--Board--inject-2 {
    animation: 3s Infinite  linear floating;
    animation-delay: 0s;
}
@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}        